.container {
  width: 360px;
  background: radial-gradient(at top, $dark-blue, #151b21);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}

form {
  width: 85%;
  margin: auto;
  h1 {
    color: $white;
    font-size: 2.4rem;
  }
  p {
    color: $light-grey;
    margin: 1rem 0 2rem 0;
    line-height: 2rem;
    font-size: 1.4rem;
  }
}

.rating-btn,
#star {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

#star {
  margin: 2rem 0;
  background: $dark-blue;
  text-align: center;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.rating-btn {
  cursor: pointer;
  color: $light-grey;
  background: $dark-blue;
  border: none;
  font-weight: bold;
  transition: all 0.1s ease-in;
  &:hover {
    background: $orange;
    color: $white;
  }
}

#submit {
  cursor: pointer;
  margin: 3rem 0;
  background: $orange;
  color: $white;
  border: none;
  padding: 1.25rem 0;
  width: 100%;
  border-radius: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.2s ease-in;
  &:hover {
    background: $white;
    color: $orange;
  }
}

.active {
  background: $medium-grey;
  color: $white;
}

.remove {
  display: none;
}

.center {
  text-align: center;
}

.rating {
  background: $dark-blue;
  color: $orange;
  padding: 0.5rem 2rem;
  width: 60%;
  border-radius: 4rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.rating-width {
  width: 87%;
  margin: 1rem auto 4rem auto;
}

.submit-image {
  margin: 3rem 0;
}
